<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <header>
        <nav>
            <div class="navbar">
                <div class="top">
                    <div class="topmobile">
                        <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">

                        <div class="lupa">
                            <input type="text" placeholder="Buscar productos o marcas" id="buscador">
                            <i class="fa-solid fa-magnifying-glass" id="lupa" style="color: #000000;"></i>
                        </div>
                    </div>

                    <div class="tarjetas">
                        <p> <i class="fa-solid fa-hand-holding-dollar" style="color: #000000;"></i>Comprá en cuotas y
                            sin tarjeta de crédito</p>
                    </div>
                </div>

                <div class="nav1">
                    <ul class="sinviñetas">
                        <li><a href="/">Ofertas</a></li>
                        <li><a href="/">Tiendas Oficiales</a></li>
                        <li><a href="/">Vender</a></li>
                        <li><a href="/">Ayuda</a></li>
                    </ul>
                </div>
                <div class="nav2">
                    <ul class="sinviñetas">
                        <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-id-card"
                                    style="color: #000000;"></i></a>
                        </li>
                        <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"
                                    style="color: #000000;"></i></a>
                        </li>
                        <li><a href="/">Mis compras <i class="fa-solid fa-basket-shopping"
                                    style="color: #000000;"></i></a></li>
                    </ul>
                </div>

                <div class="burger-menu">
                    <i class="fa-solid fa-bars" style="color: #ffffff;" id="burguer"></i>
                </div>

            </div>
        </nav>
    </header>

    <div class="banner">
        <img src="/images/img-home-banner.jpg" alt="banner">
    </div>

    <main>
        <div class="productos">
            <h2>Basado en tu última visita</h2>
            <div class="all-products">
                <div class="articulo">
                    <a href="/" class="enlace">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                        <div id="descripcion">
                            <i class="fa-solid fa-truck" style="color: #39b54a;" id="envio"></i>
                            <div class="valor">
                                <h4 id="precio">$6.770</h4>
                                <h5 id="descuento">40% off</h5>
                            </div>
                            <h5 id="producto">Cafetera Moulinex</h5>
                        </div>
                    </a>
                </div>

                <div class="articulo">
                    <a href="/" class="enlace">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                        <div id="descripcion">
                            <i class="fa-solid fa-truck" style="color: #39b54a;" id="envio"></i>
                            <div class="valor">

                                <h4 id="precio">$230.000</h4>
                                <h5 id="descuento">20% off</h5>
                                <h5 id="producto">MacBook Pro 2019</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="articulo">
                    <a href="/" class="enlace">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                        <div id="descripcion">
                            <i class="fa-solid fa-truck" style="color: #39b54a;" id="envio"></i>
                            <div class="valor">
                                <h4 id="precio">$70.500</h4>
                                <h5 id="descuento">10% off</h5>
                                <h5 id="producto">Samsung Galaxy S10</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="articulo">
                    <a href="/" class="enlace">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv">
                        <div id="descripcion">
                            <i class="fa-solid fa-truck" style="color: #39b54a;" id="envio"></i>
                            <div class="valor">
                                <h4 id="precio">$23.200</h4>
                                <h5 id="descuento">5% off</h5>
                                <h5 id="producto">SmartTv Samsung 43"</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <h2>Sección de Ofertas</h2>
            <div class="all-products">
                <div class="articulo">
                    <a href="/" class="enlace">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                        <div id="descripcion">
                            <i class="fa-solid fa-truck" style="color: #39b54a;" id="envio"></i>
                            <div class="valor">
                                <h4 id="precio">$6.770</h4>
                                <h5 id="descuento">40% off</h5>
                                <h5 id="producto">Cafetera Moulinex</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="articulo">
                    <a href="/" class="enlace">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                        <div id="descripcion">
                            <i class="fa-solid fa-truck" style="color: #39b54a;" id="envio"></i>
                            <div class="valor">
                                <h4 id="precio">$230.000</h4>
                                <h5 id="descuento">20% off</h5>
                                <h5 id="producto">MacBook Pro 2019</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="articulo">
                    <a href="/" class="enlace">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                        <div id="descripcion">
                            <i class="fa-solid fa-truck" style="color: #39b54a;" id="envio"></i>
                            <div class="valor">
                                <h4 id="precio">$70.500</h4>
                                <h5 id="descuento">10% off</h5>
                                <h5 id="producto">Samsung Galaxy S10</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="articulo">
                    <a href="/" class="enlace">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv">
                        <div id="descripcion">
                            <i class="fa-solid fa-truck" style="color: #39b54a;" id="envio"></i>
                            <div class="valor">
                                <h4 id="precio">$23.200</h4>
                                <h5 id="descuento">5% off</h5>
                                <h5 id="producto">SmartTv Samsung 43"</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div id="f1">
            <a href="/">
                <i class="fa-solid fa-credit-card" style="color: #1259c3;"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </a>
        </div>

        <div id="f1">
            <a href="/">
                <i class="fa-solid fa-gift" style="color: #1259c3;"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </a>
        </div>

        <div id="f1">
            <a href="/">
                <i class="fa-solid fa-user-shield" style="color: #1259c3;"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </a>
        </div>

        <div class="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>

</html>